asgiref==3.7.2
certifi==2023.7.22
Django==3.0
entrypoints==0.3
flake8==3.7.0
iniconfig==2.0.0
mccabe==0.6.1
packaging==23.1
pluggy==1.2.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==7.4.0
pytest-django==3.9.0
pytz==2023.3
sentry-sdk==1.29.2
sqlparse==0.4.4
urllib3==2.0.4
